In [269]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [270]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1840,tt0192614,15000000,35007180,The Skulls,Joshua Jackson|Paul Walker|Hill Harper|Leslie ...,Rob Cohen,Getting in is easy. Getting out is a killer.,Luke's exultance at being selected for The Sku...,106,Crime|Drama|Thriller,Universal Pictures|Original Film|Newmarket Cap...,3/31/2000,5.9,2000
321,tt1230414,85000000,219103655,It's Complicated,Meryl Streep|Alec Baldwin|Steve Martin|Lake Be...,Nancy Meyers,First comes marriage. Then comes divorce. And ...,"Ten years after their divorce, Jane and Jake A...",121,Comedy|Romance,Universal Pictures|Scott Rudin Productions|Wav...,12/23/2009,6.2,2009
743,tt1411697,80000000,254455986,The Hangover Part II,Bradley Cooper|Ed Helms|Zach Galifianakis|Just...,Todd Phillips,The Wolfpack Is Back,The Hangover crew heads to Thailand for Stu's ...,102,Comedy,Legendary Pictures|Living Films|Green Hat Film...,5/25/2011,6.1,2011
388,tt0473075,150000000,335154643,Prince of Persia: The Sands of Time,Jake Gyllenhaal|Gemma Arterton|Ben Kingsley|Al...,Mike Newell,Defy the Future,A rogue prince (Jake Gyllenhaal) reluctantly j...,116,Adventure|Fantasy|Action|Romance,Walt Disney Pictures|Jerry Bruckheimer Films,5/19/2010,6.1,2010
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015

In [271]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [272]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [273]:
data['profit'] = data.revenue - data.budget

In [274]:
# Creating columns for future creating of cuts and easier extraction of data
df = data.copy()
df['splitted_genres'] = df.genres.str.split('|')
df['splitted_dirs'] = df['director'].str.split('|')
df['splitted_cast'] = df.cast.str.split('|')
df['release_month'] = df.release_date.apply(lambda date: date.split('/')[0])
df['title_len'] = df.original_title.apply(lambda title: len(title))
df['overview_words'] = df.overview.apply(lambda text: len(text.split(' ')))
df['splitted_prod'] = df.production_companies.str.split('|')

In [275]:
# Creating cuts of database for easier operating while it needs in a question
genres_cut = df.explode('splitted_genres')
directors_cut = df.explode('splitted_dirs')
cast_cut = df.explode('splitted_cast')
cage_cut = cast_cut.explode('splitted_genres')
prod_cut = df.explode('splitted_prod')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [276]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [277]:
# тут пишем ваш код для решения данного вопроса:
display(data[data.budget == data.budget.max()].original_title)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [278]:
# можно добавлять разные варианты решения
display(data
        .sort_values('budget', ascending=False)
        .head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [279]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [280]:
display(data
        .sort_values('runtime', ascending=False)
        .head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [281]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [282]:
display(data
        .sort_values('runtime')
        .head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [283]:
answers['4'] = '2. 110'

In [284]:
display(data.runtime
        .mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [285]:
answers['5'] = '1. 107'

In [286]:
display(data.runtime
        .median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [287]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [288]:
answers['6'] = '5. Avatar (tt0499549)'

In [289]:
display(data
        .sort_values('profit', ascending=False)
        .head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [290]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [291]:
display(data
        .sort_values('profit')
        .head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [292]:
answers['8'] = '1. 1478'

In [293]:
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [294]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [295]:
display(data[data.release_year == 2008]
        .sort_values('revenue', ascending=False)
        .head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [296]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [297]:
display(data[(data.release_year >= 2012) & (data.release_year <= 2014)]
        .sort_values('profit')
        .head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [298]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [299]:
answers['11'] = '3. Drama'

In [300]:
# We need to count splitted genres for each film(index)
# So we're creating dict for it and going through needed column with for loop
genres_count = {}
genres_list = data.genres.apply(lambda x: x.split('|')).sum()
for genre in genres_list:
    if genre in genres_count:
        genres_count[genre] += 1
    else:
        genres_count[genre] = 1
sorted(genres_count.items(), key=lambda x: x[1])[-1]

('Drama', 782)

ВАРИАНТ 2

In [301]:
display(genres_cut
        .splitted_genres
        .value_counts()
        .head(1))

Drama    782
Name: splitted_genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [302]:
answers['12'] = '1. Drama'

In [303]:
display(genres_cut[genres_cut.profit > 0]
        .splitted_genres.value_counts()
        .head(1))

Drama    560
Name: splitted_genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [304]:
answers['13'] = '5. Peter Jackson'

In [305]:
directors_grp = directors_cut.groupby(['splitted_dirs'])
display(directors_grp
        .sum()
        .sort_values('profit', ascending=False)
        .head(1))

,budget,revenue,runtime,vote_average,release_year,profit,title_len,overview_words
splitted_dirs,,,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685,265,363

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [306]:
answers['14'] = '3. Robert Rodriguez'

In [307]:
actions = directors_cut[directors_cut.genres.str.contains('Action')]
display(actions.splitted_dirs
        .value_counts()
        .head(1))

Robert Rodriguez    9
Name: splitted_dirs, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [308]:
answers['15'] = '3. Chris Hemsworth'

In [309]:
year_cut = cast_cut[cast_cut.release_year == 2012]
display(year_cut
        .groupby(['splitted_cast'])
        .sum()
        .sort_values('profit', ascending=False)
        .head(1))

,budget,revenue,runtime,vote_average,release_year,profit,title_len,overview_words
splitted_cast,,,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773,69,253

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [310]:
answers['16'] = '3. Matt Damon'

In [311]:
high_budget = cast_cut[cast_cut.budget > cast_cut.budget.mean()]
display(high_budget.splitted_cast
        .value_counts()
        .head(1))

Matt Damon    18
Name: splitted_cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [312]:
answers['17'] = '2. Action'

In [313]:
display(cage_cut[cage_cut.splitted_cast == 'Nicolas Cage'].splitted_genres
        .value_counts()
        .head(1))

Action    17
Name: splitted_genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [314]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [315]:
paramount = prod_cut[prod_cut.splitted_prod == 'Paramount Pictures']
display(paramount[paramount.profit == paramount.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,splitted_genres,splitted_dirs,splitted_cast,release_month,title_len,overview_words,splitted_prod
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",7,20,23,Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [316]:
answers['19'] = '5. 2015'

In [317]:
display(data.groupby(['release_year']).sum()
        .sort_values('profit', ascending=False)
        .head(1))

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [318]:
answers['20'] = '1. 2014'

In [319]:
warner = (data[data.production_companies.str.contains('Warner Bros')]
          .groupby(['release_year']))
display(warner.sum()
        .sort_values('profit', ascending=False)
        .head(1))

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [320]:
answers['21'] = '4. Сентябрь'

In [321]:
month_groups = df.groupby(['release_month'])
display(month_groups.original_title
        .count()
        .sort_values(ascending=False)
        .head(1))

release_month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [322]:
answers['22'] = '2. 450'

In [323]:
summer_df = df[(df.release_month == '6') |
               (df.release_month == '7') |
               (df.release_month == '8')]
display(summer_df.groupby(['release_month'])
        .original_title
        .count().sum())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [324]:
answers['23'] = '5. Peter Jackson'

In [325]:
winter_df = directors_cut[(directors_cut.release_month == '11') |
                          (directors_cut.release_month == '12') |
                          (directors_cut.release_month == '1')]
display(winter_df.splitted_dirs
        .value_counts()
        .head(1))

Peter Jackson    8
Name: splitted_dirs, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [326]:
answers['24'] = '5. Four By Two Productions'

In [327]:
display(prod_cut.groupby(['splitted_prod']).mean()
        .sort_values('title_len', ascending=False)
        .head(1))

,budget,revenue,runtime,vote_average,release_year,profit,title_len,overview_words
splitted_prod,,,,,,,,
Four By Two Productions,18000000.0,261572744.0,82.0,6.4,2006.0,243572744.0,83.0,42.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [328]:
answers['25'] = '3. Midnight Picture Show'

In [329]:
display(prod_cut.groupby(['splitted_prod']).mean()
        .sort_values('overview_words', ascending=False)
        .head(1))

,budget,revenue,runtime,vote_average,release_year,profit,title_len,overview_words
splitted_prod,,,,,,,,
Midnight Picture Show,15000000.0,3533227.0,98.0,5.7,2008.0,-11466773.0,23.0,175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [330]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [331]:
display(data[data.vote_average >
             data.quantile(0.99, numeric_only=True)['vote_average']]
        .original_title)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [332]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [333]:
# We need to count pairs of artists, so i've created a dict to store data
# Then, to fill our dict with values - we use nested for loop
artists_pairs = {}
artists = list(data.cast.apply(lambda actors: actors.split('|')))
for film_cast in artists:
    film_pairs = list(combinations(film_cast, 2))
    for pair in film_pairs:
        if pair in artists_pairs:
            artists_pairs[pair] += 1
        else:
            artists_pairs[pair] = 1
sorted(artists_pairs.items(), key=lambda pair: pair[1], reverse=True)[0]

(('Daniel Radcliffe', 'Rupert Grint'), 8)

ВАРИАНТ 2

# Submission

In [334]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [335]:
# и убедиться что ни чего не пропустил)
len(answers)

27